swanlab
accelerate
torchmetrics
torch
torchvision
numpy<2
pandas
matplotlib
scikit-learn
loguru
tqdm
dotenv
pyyaml

# swanlab 太卡的话先用 wandb 替代
#wandb

# for Ascend Devices Only
# torch-npu

# linter
ruff
isort
black

